@import "tailwindcss";

@import "react-notion-x/src/styles.css";
@import "prismjs/themes/prism-tomorrow.css";
@import "katex/dist/katex.min.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover-background: #f7f7f7;
  /* --hover-background: #f4f4f5; */
  --border-color: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hover-background: #2c2c2c;
  --border-color: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}

.notion {
  line-height: 1.8 !important;
  color: var(--notion-text-color) !important;
}

.notion-quote {
  background-color: rgb(248, 249, 250);
  padding: 16px 16px 16px 32px !important;
  font-size: 17px !important;
  border-left-color: rgb(32, 201, 151) !important;
}

.notion-yellow_background {
  background-color: var(--notion-yellow-background) !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
