@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover-background: #f7f7f7;
  /* --hover-background: #f4f4f5; */
  --border-color: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hover-background: #2c2c2c;
  --border-color: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}
