@import "tailwindcss";

@import "react-notion-x/src/styles.css";
@import "prismjs/themes/prism-tomorrow.css";
@import "katex/dist/katex.min.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --hover-background: #f7f7f7; */
  --hover-background: #f4f4f5;
  --border-color: #e5e7eb;
  --notion-text-color: #3c3c43;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hover-background: #2c2c2c;
  --border-color: #333333;
  --notion-text-color: rgba(255, 255, 245, 0.86);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.notion {
  color: var(--notion-text-color) !important;
  padding: 0 !important;
  line-height: 32px !important;
}

.notion-collection-row {
  line-height: 24px !important;
}

.notion-list li {
  padding: 0 !important;
}

.notion-full-width {
  padding: 0 !important;
}

.notion-quote {
  font-size: 16px !important;
}

.notion-yellow_background {
  background-color: var(--notion-yellow-background) !important;
}

.notion-hr {
  height: 1px;
  background: var(--border-color);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.utterances {
  max-width: 100% !important;
  width: 100% !important;
}
